/* Main root container */

/* Navbar at top */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Tämä on ok, koska se ei vaikuta AG Gridin taustaan */
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

/* Navbar links */
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Space below navbar */
.app-container {
  padding-top: 70px;
  text-align: center;
}

.ag-cell {
  text-align: left !important;
}



